/*Responsive*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	.section_one .input-group .input-group-btn:first-child > .btn{ margin-right: -1px;}
	.navigation ul li a{ font-weight: 600;}
}

@media (max-width: 1440px){
	.logo{ padding: 10px 0;}
	.navigation{ padding: 10px 0;}
	.section_one .container, .section_two .container{ max-width: 1240px; width: 100%;}
	.modal-dialog{ max-width: 1100px; width: 94%;}
	.section_three .container, .section_four .container{ max-width: 1140px; width: 100%;}
	.main_flink > li{ padding-left: 15px;}
	.ob_left .overlay{ width: 240px; padding: 40px 0; margin-left: -120px;}
	.ob_left .overlay h3{ padding: 0 20px;}
	.ob_left .overlay p{ padding: 0 20px;}
	.dwn_arrow{ bottom: 10px;}
	header{ padding: 0 15px;}
	.inner_section .container{ padding: 0 15px;}
	.price_tag_section h3 span{ padding-right: 10px;}
	.price_tag_section .calc{ margin: 22px 0;}
	.project_location{ padding: 30px 35px;}
	.pc_left .emi_lbl{ min-width: 180px;}
	.pc_left .btn{ min-width: 180px;}
	.inner_section{ margin-top: 61px;}
	.right_panel.affix{ width: 326px; top: 65px;}
	.search_block .inner .block_two li:last-child{ font-size: 16px; line-height: 18px;}
	.search_block .inner .block_two li:last-child span{ font-size: 16px;}
	.search_slider .item ul li .left span{ font-size: 14px;}
	.search_slider .item ul li .right span{ font-size: 14px;}
	
}
@media (min-width: 1024px) and (max-width: 1280px){
	
}


@media (max-width: 1280px) {
	.section_one .container, .section_two .container, .section_five .container, .section_six .container{ max-width: 1140px; width: 100%;}
	.showcase_block .content h4{ padding-left: 30px;}
	.showcase_block .content ul li a{ padding-left: 50px;}
	.showcase_block .content ul li a span{ left: 25px;}
	
	
}



@media (max-width: 1279px) {
	header{ padding: 0 15px;}
	.section_one .heading h2{ font-size: 50px; line-height: 40px;}
	.section_one .row{ margin-left: -15px; margin-right: -15px;}
	.section_one .row .col-xs-12{ padding-left: 15px; padding-right: 15px;}
	.section_one .s_left{ padding-top: 80px;}
	.tab_mster{ padding-right: 15px;}
	.navigation ul li{ padding-right: 20px;}
	.modal{ right: 0;}
	.section_two .row{ margin-left: -15px; margin-right: -15px;}
	.section_two .row .col-xs-12{ padding-left: 15px; padding-right: 15px;}
	.section_three .row{ margin-left: -5px; margin-right: -5px;}
	.section_three .row .col-xs-12{ padding-left: 5px; padding-right: 5px;}
	.section_three .row.paddingbottom20{ padding-bottom: 10px;}
	.project_slider, .project_block{ box-shadow: none;}
	.project_slider .owl-nav{ text-align: center; padding-top: 5px;}
	.project_slider .owl-nav [class*="owl-"]{ position: static; margin: 0 2px; display: inline-block; font-size: 16px; line-height: 30px; width: 30px; background-color: #c60d18; color: #fff;}
	.showcase_block .content{ padding: 20px 0 10px;}
	.project_slider .owl-nav [class*="owl-"]:hover{ background-color: #01224c; color: #fff;}
	.ob_left .overlay{ padding: 20px 0; bottom: 14px;}
	.ob_left .overlay h3{ font-size: 20px; padding: 0 30px;}
	.ob_left .overlay h3 span{ font-size: 14px;}
	.ob_left .overlay p{ padding: 0 30px;}
	.abt_list li h4{ font-size: 14px;}
	.section_four .row{ margin-left: -15px; margin-right: -15px;}
	.section_four .row .col-xs-12{ padding-left: 15px; padding-right: 15px;}


}

@media (max-width: 1023px) {
	.section, .fp-tableCell {height: 100% !important; display: inline-block; vertical-align: top;}
	.dwn_arrow{ display: none;}
	.section.active .s_left{ animation: none; padding-top: 0;}
	header{ position: fixed;}
	.section_one{ padding-top: 90px;}
	.section_one .heading h2{ font-size: 30px; line-height: 30px;}
	.heading h2{ font-size: 30px; line-height: 30px;}
	.heading h2 span{ font-size: 13px; line-height: 13px;}
	.heading{ padding-bottom: 10px;}
	.section_one .input-group{ margin-bottom: 30px;}
	.tp_slider{ box-shadow: none;}
	.custom_tabs{ background-image: none; background-color: #fff;}
	.section_two{ padding-top: 30px;}
	.showcase_slider{ margin-bottom: 20px; box-shadow: none;}
	.showcase_block{ box-shadow: none; margin-bottom: 20px;}
	
	.section_three{ padding-top: 30px;}
	.project_block .overlay::before{ height: 100%;}
	.project_block .overlay h4{ line-height: 20px; font-size: 14px;}
	.project_block .overlay{ padding-left: 10px; padding-right: 0;}
	.project_block .overlay span{ width: 100%; position: static; right: auto;}
	.section_four{ padding-top: 30px;}
	.section_four .col-md-7{ width: 100%;}
	.ob_left{ box-shadow: none; margin-bottom: 20px;}
	.ob_left .overlay{ bottom: 0; left: 0; right: auto; width: 100%; margin-left: 0;}
	.section_four .col-md-5{ width: 100%;}
	.ob_right ul{ padding-left: 0; margin: 0 -5px; width: auto;}
	.section_four .ob_right ul li.col-xs-6{ padding: 0 5px; margin-bottom: 10px;}
	.section_four .sd_heading{ display: block;}
	.section_four .sd_heading h2{ padding-bottom: 5px;}
	.section_four .bd_heading{ display: none;}
	.section_four .ob_right p{ display: none;}
	.section_five{ padding-top: 20px;}
	.abt_list li{ width: 33.33%; padding-bottom: 20px;}
	.section_six{ padding-top: 20px;}
	.contact_heading{ padding-left: 0; margin-bottom: 20px;}
	.contact_heading .heading{ position: static;}
	.contact_heading p{ padding-top: 0;}
	.main_flink > li:last-child{ border-right: none;}
	.main_flink > li{ padding-left: 10px;}
	.footer{ position: static;}
	.newsletter{ padding-bottom: 20px; padding-top: 20px;}
	.social_icons{ padding-bottom: 20px;}
	.modal-content .close{ right: 0; top: 0; border-radius: 0; height: 30px; width: 30px; line-height: 30px;}
	.modal-content .close img{ height: 14px;}
	.ob_right ul li a{ right: 5px;}

}


@media (max-width:767px) {
	.section_six{ padding-bottom: 41px;}
	.navigation ul{ position: fixed; left: 0; bottom: 0; width: 100%; background-color: #cd121f;}
	.navigation ul li{ float: left; width: 50%; text-align: center; padding: 0; border-left: 1px solid #fff;}
	.navigation ul li:first-child{ border-left: none;}
	.navigation ul li a{ color: #fff; float: left; text-align: center; width: 100%; font-size: 12px;}
	.navigation ul li a:hover{ color: #fff;}
	.logo a > img{ height: 30px;}
	.toggle_block{ margin: 5px 0;}
	.section_one .heading h2, .heading h2{ font-size: 24px; line-height: 24px;}
	.tab_block .overlay h3{ font-size: 20px; line-height: 20px;}
	.tab_block .overlay::before{ height: 20px;}
	.section_one{ padding-top: 70px;}
	.section_three .row{ margin-left: -1px; margin-right: -1px;}
	.section_three .row .col-xs-12{ padding-left: 1px; padding-right: 1px;}
	.section_three .row.paddingbottom20{ padding-bottom: 2px;}
	.section_four{ padding-top: 10px;}
	.abt_list li .icon{ width: 90px; height: 90px; line-height: 80px;}
	.abt_list li .icon > img{ height: 44px;}
	.main_flink > li{ min-height: 250px;}
	.section_one .input-group::before{ display: none;}
	.tab_mster{ padding-right: 0;}
	.tp_slider::before{ display: none;}
	.custom_tabs li{ margin-left: 5px; padding-left: 7px;}
	.ob_left .overlay{ padding: 15px 0; position: static;}
	.ob_left .overlay h3{ padding: 0 15px; font-size: 16px;}
	.ob_left .overlay p{ padding: 0 15px;}
	.footer ul{ float: left; width: 100%; text-align: center;}
	.footer ul li{ display: inline-block; float: none;}
	.footer ul li:last-child{ padding-left: 0; width: 100%; padding-top: 5px;}
	.main_flink li ul li a{ font-size: 12px;}
	.abt_list li h4{ letter-spacing: 1px; font-size: 12px;}
	.abt_list{ padding-top: 0;}
	.newsletter .input-group .btn{ padding: 0 10px;}
	.newsletter .input-group .btn > img{ position: relative; top: -2px;}
	
	
 
}   

@media (max-width:639px) {
	.section_one .input-group .btn{ padding: 0 10px; line-height: 38px; min-width: 40px;}
	.section_one .input-group .form-control{ height: 40px; padding-left: 10px;}
	.section_one .input-group .btn > img{ height: 16px; font-size: 12px;}
	.section_one .input-group .search-panel .btn .fa-angle-down{ font-size: 16px; padding-left: 2px;}
	.custom_tabs{ width: 100%; padding-left: 0;}
	.main_flink > li{ width: 33.33%; margin-bottom: 10px; min-height: 200px;}
	.main_flink > li:first-child{ border-left: 1px solid rgba(7,64,154,.38); padding-left: 10px;}
	
} 

@media (max-width:479px) {
	.main_flink > li{ width: 50%; min-height: 150px;}
	.abt_list li{ width: 50%;}
	.project_slide_wrap .col-sm-4{ width: 100%;}
	.project_slide_wrap .col-sm-8, .project_slide_wrap .col-sm-7, .project_slide_wrap .col-sm-5{ width: 100%;}
	.ob_right ul{ margin: 0 -1px;}
	.section_four .ob_right ul li.col-xs-6{ padding: 0 1px; margin-bottom: 2px;}
	.ob_right ul li h5{ font-size: 12px; left: 10px;}
	.ob_right ul li a{ right: 2px;}
	.abt_list li .icon{ height: 70px; width: 70px; line-height: 64px;}
	.abt_list li .icon > img{ height: 34px;}
	.custom_tabs li a{ font-size: 10px;}

}

@media (max-width:359px) {
	
	

}

@media screen and (-webkit-min-device-pixel-ratio:0){
	
}
	